body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #f0f0f0;
}
.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  text-align: center;
}
.dashboard-content {
  display: flex;
  justify-content: space-between;
  height: 600px; /* Set a fixed height */
}
#globe-container,
.chart-container {
  width: 48%;
  background-color: #2a2a2a;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Prevent overflow */
}
#globe-container {
  position: relative; /* For absolute positioning of the canvas */
}
#globe-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.chart-container h2 {
  margin-top: 0;
}
.chart-container {
  padding: 10px 10px 20px 10px;  /* Increase bottom padding */
}
#sales-chart-container {
  flex-grow: 1;
  position: relative;
  height: calc(100% - 40px);  /* Adjust height to account for title */
}